<app-preloader></app-preloader>
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
    <!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<!-- <p class="subtitle">Fresh & Organic</p> -->
							<h1>Sing In</h1>
                            <!-- contact form -->
                            <!-- <div class="contact-from-section mt-150 mb-150"> -->
                                <div class="container">
                                    <div class="row" style="margin: auto; justify-content: center;">
                                        <div class="col-lg-8 mb-5 mb-lg-0">
                                            <!-- <div id="form_status"></div> -->
                                            <div class="contact-form" style="">
                                                <form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
                                                    <p>
                                                        <input  type="text" placeholder="Name" name="name" id="name">
                                                        <!-- <input type="email" placeholder="Email" name="email" id="email"> -->
                                                    </p>
                                                    <p>
                                                        <input type="password" placeholder="Password" name="password" id="password">
                                                        <!-- <input style="margin-right: 10px;" type="tel" placeholder="Phone" name="phone" id="phone"> -->
                                                        <!-- <input type="text" placeholder="Subject" name="subject" id="subject"> -->
                                                    </p>
                                                    <!-- <p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p> -->
                                                    <!-- <input type="hidden" name="token" value="FsWga4&@f6aw" /> -->
                                                    <!-- <p><input type="submit" value="Submit" class="boxed-btn"></p> -->
                                                    <div class="hero-btns">
                                                        <input type="submit" value="Sign in" class="boxed-btn">
                                                        <a routerLink="/register" class="bordered-btn">Sign up</a>
                                                        <!-- <a href="contact.html" class="bordered-btn">Contact Us</a> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                            <!-- end contact form -->
							<!-- <div class="hero-btns" style="justify-content: center;">
								<a href="shop.html" class="boxed-btn">Fruit Collection</a>
								<a href="   " class="bordered-btn">Sign up</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

    <!-- <app-logo-carousel-section></app-logo-carousel-section> -->

    <!-- <app-footer></app-footer> -->

    <!-- <app-copyrigth></app-copyrigth> -->